node_modules/
/dist/
/coverage/
/.docs-dist/
/.docs-cache/
/.cache/
/.next/
/.idea/
/.project/
/.vscode/
/.jest/
/.yarn/
/out/
/public/bit/
/npm-error.log
/yarn-error.log
.DS_Store
.vercel
.env.local
