body.app-overlay-n {
    @media (max-width: 1199px) {
        overflow: hidden !important;
    }
}

.app-re-header {
    z-index: 100;
    /* <992px */
    .text-center {
        text-align: center;
    }
    @media (max-width: 1199px) {
        .app-mobile-none {
            display: none !important;
        }
    }
}

.app-re-header a {
    color: #000;
}

.app-re-wrapper-outer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    -ms-transition: opacity linear 0.5s;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

.app-re-wrapper {
    flex: 1 0 auto;
}

.app-footer,
.site-footer {
    flex-shrink: 0;
}

.app-re-wrapper {
    /*   min-height: 100vh; */
    .app-pink-clr {
        color: #ee67a0;
    }
    .app-container {
        max-width: 990px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .app-hamburger {
        cursor: pointer;
        position: relative;
        display: block;
        width: 28px;
        height: 22px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-right: 12px;
        @media (min-width: 375px) {
            width: 32px;
            height: 25px;
            /*   		width: 37px;
          height: 29px; */
        }
        @media (min-width: 1200px) {
            display: none;
        }
    }
    .app-hamburger:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        /*     background-color: #000; */
        border-bottom: 1px solid #000;
        margin-top: -0.5px;
    }
    .app-logo {
        display: block;
        width: 6.6em;
    }
    @media (min-width: 1200px) {
        .app-logo {
            width: 7.5em;
        }
    }
    @media (min-width: 1200px) {
        .app-row-d-2-1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 -1.5em;
        }
        .app-row-d-2-1>.app-col {
            width: 28%;
            margin: 0 1.5em;
        }
        .app-row-d-2-1>.app-col:first-child {
            width: 68%;
        }
    }
    .app-row-d-2a-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    @media (max-width: 1199px) {
        .app-row-d-2a-1>.app-col:first-child {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
    }
    @media (min-width: 1200px) {
        .app-row-d-2a-1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 0 -1.5em;
        }
        .app-row-d-2a-1>.app-col {
            width: 20%;
            margin: 0 1.5em;
        }
        .app-row-d-2a-1>.app-col:first-child {
            width: 80%;
        }
    }
    @media (min-width: 1200px) {
        .app-row-d-2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 -1.5em;
        }
        .app-row-d-2>.app-col {
            width: 48%;
            margin: 0 1.5em;
        }
    }
    @media (min-width: 1200px) {
        .app-row-d-3 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 -1.5em;
        }
        .app-row-d-3>.app-col {
            width: 31%;
            margin: 0 1.5em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
    .app-re-header {
        /*     font: 400 12px "Montserrat", sans-serif; */
        font: 400 13px "Montserrat", sans-serif;
        line-height: 1.3;
        /*     position: relative; */
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        @media (min-width: 375px) {
            font-size: 14px;
        }
        @media (min-width: 1200px) {
            font-size: 13px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }
    .app-re-header svg {
        width: 100%;
        display: block;
    }
    /*   @media (max-width: 1199px) {
      .app-re-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
      }
    } */
    .app-re-header-inner {
        padding: 11px 0;
        -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 10;
        background: #fff;
    }
    @media (max-width: 1199px) {
        .app-re-header-inner {
            padding: 0;
        }
        .app-re-header-inner>.app-container {
            padding: 0;
        }
        /*     .app-re-header-inner .app-re-header__top {
          padding: 0 15px;
      } */
    }
    .app-re-header img {
        display: block;
        width: 100%;
        height: auto;
    }
    .app-re-header p {
        margin: 0 0 8px;
    }
    @media (min-width: 1200px) {
        .app-re-header .app-spacer-10 {
            padding: 9px 0;
        }
        .app-re-header p {
            margin: 0 0 0.9em;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header .app-spacer-10 {
            padding: 12px 0;
        }
    }
    .app-re-header .app-search-col {
        width: 44%;
    }
    @media (max-width: 1199px) {
        .app-re-header .app-search-col {
            -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
            order: 5;
            width: 100%;
        }
    }
    .app-re-header-nav-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .app-re-header .app-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -15px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .app-re-header .app-row .app-col {
        margin: 0 15px;
    }
    .app-re-header .app-search {
        font-family: "Montserrat", sans-serif;
        border-radius: 0;
        border: 1px solid #797979;
        height: 38px;
        width: 100%;
        border-right: none;
        padding: 0 0.9em;
        font-size: 14px;
        color: #000;
        line-height: 19px;
    }
    /*   @media (min-width: 1200px) {
      .app-re-header .app-search {
          font-size: 14px;
      }
    } */
    .app-re-header .app-search-col {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: none;
    }
    @media (min-width: 1200px) {
        .app-re-header .app-search-col {
            display: block !important;
        }
    }
    .app-search__mobile-wrapper {
        @media(max-width: 1199px) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .app-search__mobile-form-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        @media(max-width: 1199px) {
            padding: 0 15px;
        }
    }
    .app-re-header .app-search-wrapper {
        width: 100%;
        padding-top: 15px;
        font-size: 16px;
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        .app-re-header .app-search-wrapper {
            padding-top: 0;
            font-size: 16px;
        }
    }
    .app-re-header .app-search-btn {
        padding: 0 5px;
        line-height: 1;
        height: 38px;
        border: 1px solid #797979;
        border-left: none;
        background-color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .app-re-header .app-search-btn svg {
        width: 1.65em;
    }
    .app-re-header .app-search-btn__state-1 {
        cursor: pointer;
    }
    .app-re-header .app-search-btn__state-2 {
        cursor: pointer;
        display: none;
    }
    .app-re-header .app-search::-webkit-input-placeholder {
        color: #bdbdbd;
        font-size: 0.8em;
    }
    .app-re-header .app-search::-moz-placeholder {
        color: #bdbdbd;
        font-size: 0.8em;
    }
    .app-re-header .app-search:-ms-input-placeholder {
        color: #bdbdbd;
        font-size: 0.8em;
    }
    .app-re-header .app-search:-moz-placeholder {
        color: #bdbdbd;
        font-size: 0.8em;
    }
    .app-re-header .app-customer-info-col {
        display: none;
    }
    @media (min-width: 1200px) {
        .app-re-header .app-customer-info-col {
            min-width: 105px;
            display: block !important;
        }
    }
    .app-re-header__customer-info {
        font-size: 0.9em;
        text-align: left;
    }
    /*   @media (min-width: 375px) {
      .app-re-header__customer-info {
        font-size: 0.9em;
      }
    } */
    @media (min-width: 1200px) {
        .app-re-header__customer-info {
            font-size: 0.9em;
            text-align: right;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header__customer-info {
            font-size: 0.8em;
        }
    }
    .app-re-header__customer-info .app-auth-link {
        color: #000;
        text-decoration: underline;
    }
    /*   .app-re-header__customer-info .app-auth-link__login {
      text-decoration: none;
    } */
    @media screen and (min-width: 1200px) {
        .app-re-header__customer-info .app-auth-link:hover {
            text-decoration: underline;
            font-weight: 600;
        }
    }
    .app-re-header__customer-info__greeting {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
    }
    @media (min-width: 1200px) {
        .app-re-header__customer-info__greeting {
            max-width: 150px;
        }
    }
    .app-re-header__top {
        position: relative;
        padding: 11px 15px;
    }
    @media (min-width: 375px) {
        .app-re-header__top {
            /*       padding: 4px 0; */
            /*     	padding: 3px 0; */
            padding: 15px;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header__top {
            padding: 0;
            margin-bottom: 7px;
        }
    }
    .app-re-header__top .app-row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @media (min-width: 1200px) {
        .app-re-header__top .app-row {
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        }
    }
    .app-re-header__icon-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        @media (min-width: 1200px) {
            position: relative;
            padding: 5px 0;
        }
    }
    .app-re-header__icon-nav__search {
        background-color: transparent;
        border: 0;
        margin-right: 12px;
        width: 2.2em;
        padding: 0;
    }
    .app-re-header__icon-nav__search:focus {
        outline: 0;
    }
    @media (min-width: 1200px) {
        .app-re-header__icon-nav__search {
            display: none;
            width: 1.8em;
            margin-right: 20px;
        }
    }
    .app-re-header__icon-nav__customer {
        margin-right: 12px;
        width: 2.1em;
        background: transparent;
        border: 0;
        padding: 0;
    }
    @media (min-width: 1200px) {
        .app-re-header__icon-nav__customer {
            width: 1.8em;
            margin-right: 20px;
        }
        /*     .app-re-header__icon-nav__customer+.app-user__dropdown__desktop {
          display: block;
      } */
    }
    .app-re-header__icon-nav__cart {
        position: relative;
        margin-right: 5px;
        width: 1.7em;
        @media (min-width: 375px) {
            margin-right: 5px;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header__icon-nav__cart {
            width: 1.45em;
            margin-right: 12px;
        }
    }
    .app-re-header__icon-nav__cart__count {
        font-weight: 400;
        position: absolute;
        top: -4px;
        right: -8px;
        width: 1em;
        height: 1em;
        background: #ee67a0;
        color: #fff;
        font-size: 0.8em;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 9px;
        -webkit-transition: all linear 0.2s;
        transition: all linear 0.2s;
        span {
            color: #fff;
        }
        @media (min-width: 375px) {
            width: 1.8em;
            height: 1.8em;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header__icon-nav__cart:hover .app-re-header__icon-nav__cart__count {
            background-color: #F53E88;
        }
    }
    @media (min-width: 1200px) {
        .app-re-header__icon-nav__cart__count {
            font-size: 0.7em;
            width: 0.8em;
            height: 0.8em;
            padding: 11px;
            right: -11px;
        }
    }
    .app-re-header__icon-nav__cart:after {
        position: relative;
    }
    @media (max-width: 1199px) {
        .app-nav {
            /*       margin: 10px -15px 0;
        padding: 0 15px; */
            margin: 0 -15px 0;
            padding: 0;
        }
    }
    @media (max-width: 991px) {
        .app-nav {
            background-color: #f5f5f5;
        }
    }
    .app-nav__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @media (max-width: 1199px) {
        .app-nav__inner {
            overflow-x: auto;
            padding-bottom: 0;
            padding: 0 15px;
            max-width: 990px;
        }
    }
    .app-nav {
        @media (min-width: 1200px) {
            margin: 0 -5px;
        }
        @media (min-width: 1200px) {
            margin: 0 -7.5px;
        }
    }
    .app-nav__inner .app-nav__list {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1em;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 0;
        margin: 0 -10px;
    }
    .app-nav__inner .app-nav__list .app-nav__list__item.app-subscribe-btn-holder {
        margin-top: 0;
        margin-bottom: 0;
        display: none;
    }
    @media (max-width: 1199px) {
        .app-nav__inner .app-nav__list .app-nav__list__item {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
        .app-nav__inner .app-nav__list .app-nav__list__item:last-child {
            padding-right: 30px;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list .app-nav__list__item.app-subscribe-btn-holder {
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }
        .app-nav__inner .app-nav__list {
            /*       font-size: 0.74em; */
            font-size: 0.85em;
            /*       width: 87%; */
            margin: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            padding: 0;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list {
            font-size: 0.74em;
        }
    }
    .app-nav__inner .app-nav__list>li {
        margin: 0 0 0 25px;
        white-space: nowrap;
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list>li {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 10px 5px;
            border-bottom: 0;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list>li {
            margin: 10px 7.5px;
        }
    }
    .app-nav__inner .app-nav__list>li .app-nav__link {
        position: relative;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        -webkit-transition: color linear 0.2s;
        transition: color linear 0.2s;
        display: block;
    }
    @media (max-width: 1199px) {
        .app-nav__inner .app-nav__list>li .app-nav__link {
            padding: 5px 0;
            display: block;
            margin: 0;
        }
    }
    /*   @media screen and (min-width: 1200px) {
      .app-nav__inner .app-nav__list > li .app-nav__link:hover {
        opacity: 0.8;
      }
    } */
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown>.app-nav__link {
            padding: 0 1.65em 0 0;
        }
    }
    .app-nav__inner .app-nav__list__item__has-dropdown>.app-nav__link:after {
        content: "";
        font-size: 12px;
        display: none;
        position: absolute;
        -webkit-transition: all ease-out 0.15s;
        transition: all ease-out 0.15s;
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown>.app-nav__link:after {
            border: solid #636363;
            display: block;
            border-width: 0 1px 1px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 0.5em;
            height: 0.5em;
            top: 0.08em;
            right: 0.18em;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown>.app-nav__link:after {
            // top: 0.04em;
            top: 0;
            font-size: 16px;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link {
            font-weight: 700;
        }
        .app-nav__inner .app-nav__list__item a.app-nav__link:hover {
            font-weight: 700;
        }
    }
    .app-nav__inner .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link:after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: 0.42em;
        border-width: 0 2px 2px 0;
    }
    @media (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link:after {
            top: 0.3em;
        }
    }
    @media screen and (min-width: 1200px) {
        .app-nav__inner .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link:hover {
            color: #000;
        }
        .app-nav__inner .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link:hover:after {
            border-color: #000;
        }
    }
    .app-nav .app-nav__mobile-content,
    .app-nav .app-account__wrapper {
        display: none;
    }
    .app-nav__mobile {
        display: none;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    @media (min-width: 1200px) {
        .app-nav__mobile {
            display: none !important;
        }
    }
    .app-nav__mobile__inner {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        max-width: 94%;
        height: 100%;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        z-index: 102;
        font-size: 1.1em;
        /* - --- - */
    }
    @media (min-width: 375px) {
        .app-nav__mobile__inner {
            max-width: 90%;
        }
    }
    @media (min-width: 414px) {
        .app-nav__mobile__inner {
            max-width: 350px;
        }
    }
    .app-nav__mobile__overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        bottom: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        z-index: 101;
    }
    .app-nav__mobile__top {
        padding: 10px 15px 15px;
        position: relative;
    }
    .app-nav__mobile__top:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 15px;
        height: 1px;
        background-color: #ccc;
    }
    .app-nav__mobile__top__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 6px 0 3px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
    }
    .app-nav__mobile__top__inner__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .app-nav__mobile__top .app-points {
        margin-right: 8px;
    }
    .app-nav__mobile__bottom {
        height: 100%;
        overflow-y: auto;
        height: 100%;
        padding: 0 15px 20px;
        position: relative;
    }
    .app-nav__mobile__bottom .app-add-product-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .app-nav__mobile__bottom .app-add-product-col .app-nav__mobile-content__link {
        font-weight: 600;
        display: inline-block;
        text-align: left;
        padding: 7px 15px 7px 0;
        position: relative;
        -webkit-transition: color linear 0.2s;
        transition: color linear 0.2s;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }
    @media (min-width: 1200px) {
        .app-nav__mobile__bottom .app-add-product-col .app-nav__mobile-content__link {
            display: inline-block;
            padding: 8px 0;
        }
    }
    /*   @media screen and (min-width: 1200px) {
      .app-nav__mobile__bottom .app-add-product-col a:hover {
        opacity: 0.8;
      }
    } */
    .app-nav__mobile__bottom .app-add-product-col .app-nav__mobile-content__link>span {
        position: relative;
        display: inline-block;
    }
    /*   .app-nav__mobile__bottom .app-add-product-col a > span:after {
      content: "";
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
          font-size: 1.2em;

      position: absolute;
      right: -0.8em;
      top: 50%;
      border: solid black;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(-45deg) translateY(-50%);
              transform: rotate(-45deg) translateY(-50%);
      width: 0.5em;
      height: 0.5em;
      -webkit-transform-origin: top;
      transform-origin: top;
    } */
    .app-nav__mobile__bottom .app-add-product-col img {
        margin: 0 0 10px;
    }
    .app-nav__mobile__bottom .app-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 0 15px;
        margin: 0;
        list-style: none;
        /*     font-size: 1em; */
        letter-spacing: 0.06em;
        text-transform: uppercase;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .app-nav__mobile__bottom .app-nav__list>li {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid #ccc;
    }
    .app-nav__mobile__bottom .app-nav__list>.app-nav__list__item.app-subscribe-btn-holder {
        display: none !important;
    }
    .app-nav__mobile__bottom .app-nav__list>li .app-nav__link {
        position: relative;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        -webkit-transition: color linear 0.2s;
        transition: color linear 0.2s;
        padding: 15px 5px;
        display: block;
    }
    .app-nav__mobile__bottom .app-nav__list__item__has-dropdown>.app-nav__link:after {
        content: "";
        /*     font-size: 12px; */
        position: absolute;
        right: 0.18em;
        top: 50%;
        border: solid #636363;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(-45deg) translateY(-50%);
        transform: rotate(-45deg) translateY(-50%);
        width: 0.9em;
        height: 0.9em;
        -webkit-transition: all ease-out 0.15s;
        transition: all ease-out 0.15s;
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    .app-nav__mobile__bottom .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link {
        font-weight: 700;
    }
    .app-nav__mobile__bottom .app-nav__list__item__has-dropdown.app-dropdown-active>.app-nav__link:after {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: 0.42em;
        border-width: 0 2px 2px 0;
    }
    .app-nav__mobile__bottom .app-nav__d__list-title {
        display: block;
        font-weight: 600;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        padding: 15px 0;
    }
    .app-nav__mobile__bottom .app-add-product-col .app-nav__d__list-title {
        padding: 5px 0 0;
    }
    .app-nav__mobile__bottom .app-nav__d__list-title.app-nav__d__list-title__main {
        display: none;
    }
    .app-nav__mobile__close-btn {
        cursor: pointer;
        /*     position: absolute;
      top: 20px;
      right: 20px; */
        background-color: transparent;
        border: 0;
        padding: 0;
        min-width: 22px;
        width: 22px;
        height: 22px;
        /*     z-index: 10; */
    }
    .app-nav__mobile__close-btn:focus {
        outline: 0;
    }
    .app-nav__dr {
        display: none;
        background: #fff;
        font-size: 1em;
        white-space: normal;
    }
    @media (min-width: 1200px) {
        .app-nav__dr {
            padding: 2em 0 0;
            font-size: 0.75em;
            -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
        }
        .app-nav__mobile__bottom .app-add-product-col .app-nav__d__list-title {
            padding: 5px 0;
        }
    }
    .app-nav__dr img {
        margin: 0 0 15px;
    }
    @media (max-width: 1199px) {
        .app-nav__dr .app-container {
            padding: 0;
        }
    }
    .app-nav__dr-wrapper {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        -webkit-transition: all ease-out 0.25s;
        transition: all ease-out 0.25s;
        -webkit-transform: translateY(-150%);
        transform: translateY(-150%);
    }
    @media (max-width: 1199px) {
        .app-nav__dr-wrapper {
            display: none !important;
        }
    }
    .app-nav__dr-wrapper.app-nav__dr-wrapper-active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        display: block;
    }
    .app-nav__dr .app-nav__d__list-title {
        display: block;
        font-weight: 600;
        margin: 0 0 8px;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        @media (min-width: 1200px) {
            margin: 0 0 0.9em;
        }
    }
    .app-nav__dr .app-nav__d__list {
        list-style: none;
        padding: 0;
        margin: 0 0 15px;
        text-transform: none;
    }
    @media (min-width: 1200px) {
        .app-nav__dr .app-nav__d__list {
            margin: 0 0 25px;
        }
    }
    .app-nav__dr .app-nav__d__list>li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ccc;
    }
    @media (min-width: 1200px) {
        .app-nav__dr .app-nav__d__list>li {
            margin: 0 0 0.45em;
            border: 0;
        }
    }
    .app-nav__dr .app-nav__d__list>li>a {
        display: block;
        padding: 15px 0 15px;
        letter-spacing: 0.05em;
        -webkit-transition: color linear 0.2s;
        transition: color linear 0.2s;
        color: #000;
        text-decoration: none;
    }
    @media (min-width: 1200px) {
        .app-nav__dr .app-nav__d__list>li>a {
            display: inline-block;
            padding: 6px 0 6px 0;
        }
        .app-nav__dr .app-nav__d__list>li>a:hover {
            font-weight: 600;
        }
    }
    /*   @media screen and (min-width: 1200px) {
      .app-nav__dr .app-nav__d__list > li > a:hover {
        opacity: 0.8;
      }
    } */
    .app-nav__dr .app-nav__d__list>li.app-nav__d__list__item-highlighted {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
    }
    .app-nav__dr .app-nav__d__list>li.app-nav__d__list__item-highlighted>a {
        position: relative;
    }
    .app-nav__dr .app-nav__d__list>li.app-nav__d__list__item-highlighted>a>span {
        display: inline-block;
        position: relative;
    }
    .app-nav__dr .app-nav__d__list>li.app-nav__d__list__item-highlighted>a>span:after {
        content: "";
        -webkit-transition: all linear 0.2s;
        transition: all linear 0.2s;
        font-size: 1.2em;
        position: absolute;
        right: -0.8em;
        top: 50%;
        border: solid black;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(-45deg) translateY(-50%);
        transform: rotate(-45deg) translateY(-50%);
        width: 0.5em;
        height: 0.5em;
        -webkit-transform-origin: top;
        transform-origin: top;
        @media (min-width: 1200px) {
            font-size: 10px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__dr .app-nav__d__list>li.app-nav__d__list__item-highlighted>a:hover span:after {
            right: -1.2em;
        }
    }
    .app-nav__dr .app-add-product-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        /*     margin-bottom: 2em; */
        /*     margin-bottom: 20px; */
        margin-bottom: 25px;
        text-decoration: none;
    }
    .app-nav__dr .app-add-product-col .app-add-product-col__link-text {
        font-weight: 600;
        padding: 0 0 6px;
        position: relative;
        -webkit-transition: color linear 0.2s;
        transition: color linear 0.2s;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        display: block;
    }
    @media (min-width: 1200px) {
        .app-nav__dr .app-add-product-col .app-add-product-col__link-text {
            display: inline-block;
            padding: 6px 0;
        }
    }
    /*   @media screen and (min-width: 1200px) {
      .app-nav__dr .app-add-product-col a:hover {
        opacity: 0.8;
      }
    } */
    /*   .app-nav__dr .app-add-product-col .app-add-product-col__link-text > span {
      position: relative;
      display: inline-block;
    } */
    /*   .app-nav__dr .app-add-product-col .app-add-product-col__link-text > span:after {
      content: "";
      -webkit-transition: all linear 0.2s;
      transition: all linear 0.2s;
      font-size: 1.2em;
      position: absolute;
      right: -0.8em;
      top: 50%;
      border: solid black;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(-45deg) translateY(-50%);
              transform: rotate(-45deg) translateY(-50%);
      -webkit-transform-origin: top;
      transform-origin: top;
      width: 0.5em;
      height: 0.5em;

      @media (min-width: 1200px) {
        font-size: 10px;
      }
      @media (min-width: 1200px) {
        font-size: 16px;
      }
    } */
    @media (min-width: 1200px) {
        /*     .app-nav__dr .app-add-product-col:hover .app-add-product-col__link-text > span:after{
        right: -1.2em;
      } */
        /*   	.app-nav__dr .app-add-product-col .app-add-product-col__link-text:hover > span:after {
        right: -19px;
      } */
    }
    .app-nav__dr .app-add-product-col img {
        margin: 0 0 15px;
    }
    @media (max-width: 1199px) {
        .app-nav__dr .app-nav__accordion {
            margin-bottom: 15px;
        }
        .app-nav__dr .app-nav__accordion .app-animated-link>span {
            display: inline-block;
            margin-bottom: 5px;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list-title {
            position: relative;
            margin: 0;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list-title+ul {
            display: none;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list-title:after {
            content: "";
            position: absolute;
            width: 16px;
            background-color: #636363;
            height: 1px;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list-title:before {
            content: "";
            position: absolute;
            width: 1px;
            background-color: #636363;
            height: 16px;
            top: 50%;
            right: 7px;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list-title__active:before {
            content: "";
            display: none;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list__item-highlighted {
            margin-bottom: 10px;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list {
            margin: 0;
        }
        .app-nav__dr .app-nav__accordion .app-nav__d__list>li {
            border: 0;
            margin-bottom: 20px;
        }
        /*     .app-nav__dr .app-nav__accordion .app-nav__d__list > li:first-child {
          padding-top: 0;
      } */
        .app-nav__dr .app-nav__accordion .app-nav__d__list>li>a {
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .app-nav__dr .app-nav__accordion__item {
            border-bottom: 1px solid #ccc;
        }
    }
    @media (min-width: 1200px) {
        .app-nav__mobile-content {
            display: none;
        }
    }
    .app-re-header {
        .app-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            background-color: #ccc;
            color: #000;
            border-radius: 2em;
            border: 1px solid #ee67a0;
            padding: 0.5em 1.3em;
            font-size: 1em;
            letter-spacing: 0.1em;
            -webkit-transition: all linear 0.2s;
            transition: all linear 0.2s;
            /*     padding-top: 0.1em; */
        }
        @media (min-width: 1200px) {
            .app-btn {
                padding: 0.7em 1.6em;
            }
        }
        .app-btn.app-btn-purple {
            background-color: #ee67a0;
            color: #fff;
        }
        @media screen and (min-width: 1200px) {
            .app-btn.app-btn-purple:hover {
                background-color: #F53E88;
                color: #fff;
                border-color: #F53E88;
            }
        }
    }
    .app-promo-slider {
        position: relative;
        z-index: 2;
        display: block;
        color: #fff;
        background-color: #000;
        font-size: 9px;
        text-transform: uppercase;
        opacity: 0;
    }
    @media (min-width: 375px) {
        .app-promo-slider {
            /*       height: 0; */
            font-size: 11px;
        }
    }
    .app-promo-slider__inner {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 7px 0;
        position: relative;
        font-weight: 500;
        @media (min-width: 375px) {
            padding: 9px 0;
        }
    }
    .app-promo-slider__inner a {
        color: #ee67a0;
        text-decoration: none;
        -webkit-transition: all linear 0.2s;
        transition: all linear 0.2s;
    }
    @media (min-width: 1200px) {
        .app-promo-slider__inner a:hover {
            color: #F53E88;
        }
    }
    .app-promo-slider__prev,
    .app-promo-slider__next {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    .app-promo-slider__prev:focus,
    .app-promo-slider__next:focus {
        outline: 0;
    }
    .app-promo-slider__prev svg,
    .app-promo-slider__next svg {
        width: 7px;
        height: auto;
    }
    @media (min-width: 375px) {
        .app-promo-slider__prev svg,
        .app-promo-slider__next svg {
            width: 9px;
        }
    }
    .app-member-btn {
        border-radius: 2em;
        border: 1px solid #ee67a0;
        color: #fff;
        background: #ee67a0;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 16px 10px;
        display: block;
        margin-top: 11px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        display: none;
    }
    .app-step-category__btn {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        font-size: 1em;
        text-align: center;
        display: block;
        font-weight: 600;
        padding: 16px 0;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
        display: block;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }
    .app-step-category__btn:focus {
        outline: 0;
    }
    .app-step-category__btn:after {
        content: "";
        font-size: 16px;
        left: 0;
        top: 50%;
        position: absolute;
        border: solid #636363;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(135deg) translateY(-50%);
        transform: rotate(135deg) translateY(-50%);
        width: 0.7em;
        height: 0.7em;
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    .app-account__wrapper {
        margin: 0 -15px -20px;
        padding: 0 15px 20px;
        background-color: #F5F5F5;
    }
    @media (min-width: 1200px) {
        .app-account__wrapper {
            display: none;
        }
    }
    .app-account__title {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 0.08em;
        padding: 30px 0 15px;
        font-size: 1em;
    }
    .app-account__title__link {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
    }
    .app-account__list {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .app-account__list>li {
        padding: 8px 0;
    }
    .app-account__list .app-account__list__subscription {
        display: none;
    }
    .app-account__list>li>a {
        display: inline-block;
        padding: 7px 0;
        color: #000;
        text-decoration: none;
    }
    .app-user__dropdown {
        display: none;
        padding: 0 0 15px;
        left: 0;
        right: 0;
        top: 100%;
        position: absolute;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.06);
        -webkit-transition: all ease-out 0.25s;
        transition: all ease-out 0.25s;
        z-index: 20;
        @media (min-width: 1200px) {
            font-size: 0.8em;
            width: 200px;
            left: auto;
            -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
        }
        @media (min-width: 1200px) {
            width: 250px;
        }
    }
    .app-user__dropdown__inner {
        position: relative;
    }
    /*   .app-user__dropdown__outer {
      max-width: 960px;
      margin: 0 auto;
      position: relative;
    } */
    .app-user__dropdown.app-user__dropdown__active {
        display: block;
    }
    .app-user__title {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
        margin: 0 0 7px;
        padding: 17px 0;
        @media (min-width: 1200px) {
            text-align: center;
        }
    }
    .app-user__close-btn {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 0;
        background-color: transparent;
        border: 0;
        padding: 0;
        width: 22px;
        height: 22px;
    }
    @media (min-width: 1200px) {
        .app-user__close-btn {
            width: 17px;
            height: 17px;
            display: none;
        }
    }
    @media (min-width: 1200px) {
        .app-user__close-btn {
            width: 22px;
            height: 22px;
        }
    }
    .app-user__close-btn svg {
        height: 100%;
    }
    .app-user__list {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .app-user__list>li {
        padding: 4px 0;
    }
    .app-user__list .app-user__list__subscription {
        display: none;
    }
    .app-user__list>li>a {
        display: inline-block;
        padding: 4px 0;
        color: #000;
        text-decoration: none;
    }
    .app-gray-clr {
        color: #BDBDBD;
    }
    .app-user__list>li>a.app-auth-link {
        text-decoration: underline;
        color: #BDBDBD;
    }
    @media (min-width: 1200px) {
        .app-user__list>li>a:hover {
            font-weight: 600;
        }
    }
    .app-points {
        position: relative;
        color: #000;
        /*     background: url("https://fragrantjewels.s3.amazonaws.com/app/app-header/rewards-empty.png") no-repeat; */
        background-size: 100% 100%;
        width: 110px;
        height: 35px;
        display: block;
        text-decoration: none;
        @media (min-width: 375px) {
            width: 120px;
            height: 38px;
        }
        @media (min-width: 1200px) {
            width: 110px;
            height: 35px;
        }
        @media (min-width: 1200px) {
            width: 127px;
            height: 40px;
        }
        svg {
            width: 100%;
            height: auto;
        }
    }
    .app-points-col {
        display: none;
    }
    @media (min-width: 1200px) {
        .app-points-col {
            display: block;
        }
    }
    .app-points__bg {
        width: 100%;
        height: auto;
        display: block;
    }
    .app-points__box__value {
        font-weight: 600;
        position: absolute;
        top: 48%;
        left: calc(50% + 19px);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 8px;
        text-transform: uppercase;
        line-height: 1;
    }
    @media (min-width: 1200px) {
        .app-points__box__value {
            line-height: 1.25;
        }
    }
    .app-points__value {
        font-weight: 700;
        font-size: 13px;
    }
    @media (min-width: 1200px) {
        .app-points__value {
            font-size: 14px;
        }
    }
    .app-points-content {
        -webkit-transition: all linear 0.15s;
        transition: all linear 0.15s;
    }
    .app-autocomplete__list {
        z-index: 1;
        display: none;
        top: 100% !important;
        /*     margin-top: 1px;
      border: 1px solid #e8e8e8; */
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 0;
        background: #fff;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        padding: 18px 0 6px;
        .app-autocomplete__item {
            /*       margin-bottom: 6px; */
            margin-bottom: 12px;
        }
    }
    .app-autocomplete__list.is-active {
        display: block;
    }
    .app-autocomplete__link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        /*     font-size:  0.8em; */
        text-decoration: none;
        padding: 5px 15px;
        font-size: 14px;
    }
    /*   @media (min-width: 1200px) {
      .app-autocomplete__link {
        font-size: 14px;
      }
    } */
    .app-autocomplete__link.app-autocomplete__link--see-all {
        text-decoration: underline;
    }
    .app-autocomplete__link .app-autocomplete__fig {
        width: 20%;
        margin-right: 15px;
    }
    .app-autocomplete__link .media__body {
        text-align: left;
        width: 80%;
    }
    .app-not-found-message {
        padding: 5px 15px;
        font-size: 14px;
    }
    .app-animated-link {
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
    }
    .app-animated-link>span {
        position: relative;
        padding: 0 0 5px;
    }
    .app-animated-link>span:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background: #000;
        transition: bottom linear 0.2s;
    }
    @media (min-width: 1200px) {
        .app-animated-link:hover,
        .app-nav__dr .app-add-product-col:hover .app-animated-link {
            font-weight: 700 !important;
        }
        .app-nav__dr .app-add-product-col:hover .app-animated-link>span:after,
        .app-animated-link:hover>span:after {
            height: 2px;
            bottom: 0px;
        }
    }
    .app-user__dropdown__wrapper {
        @media (min-width: 1200px) {
            text-align: center;
        }
        /*     @media (max-width: 1199px) {
          display: none !important;
      } */
    }
    .app-nav__list>li .app-nav__link.app-nav__link__active {
        font-weight: 700;
    }
}

.w-promo-banner-link-wrapper {
    background: #fff;
    position: relative;
    z-index: 1;
}
