.app-h-progress-wrapper {
    padding: 12px 0;
    @media (min-width: 500px) {
        padding: 32px 8px;
    }
    .app-h-progress {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #f5f5f5;
        background-image: -webkit-gradient(linear, left top, right top, from(#bdbdbd), to(#bdbdbd));
        background-image: -o-linear-gradient(left, #bdbdbd, #bdbdbd);
        background-image: linear-gradient(to right, #bdbdbd, #bdbdbd);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 0.4s ease-in-out;
        &__label {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}

.app-h-main {
    .slick-dots {
        position: absolute;
        bottom: 10px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        @media (min-width: 768px) {
            bottom: 17px;
        }
    }
    .slick-dots>li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            border-radius: 50%;
            text-align: center;
            opacity: 0.6;
            background-color: #fff;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
        }
    }
    .slick-dots .slick-active button:before {
        opacity: 1;
        background-color: #fff;
    }
    .slick-next,
    .slick-prev {
        font-size: 0;
        line-height: 1;
        position: absolute;
        width: 17px;
        height: 17px;
        border-color: #9059c8 !important;
        border: 0;
        background-color: transparent;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .slick-next:focus,
    .slick-prev:focus,
    .slick-list:focus,
    .flex-item:focus,
    .product-flex-link:focus {
        outline: 0;
        box-shadow: none;
    }
    .slick-slide {
        outline: none;
    }
    .slick-next {
        border-bottom: 1px solid;
        border-left: 1px solid;
        transform: translateY(-50%) rotate(-135deg);
        right: -12px;
        @media (min-width: 768px) {
            right: -15px;
        }
    }
    .slick-prev {
        border-bottom: 1px solid;
        border-left: 1px solid;
        transform: translateY(-50%) rotate(45deg);
        left: -12px;
        @media (min-width: 768px) {
            left: -15px;
        }
    }
}

// .app-h-col-slider .slick-track {
//     display: flex;
// }
.app-h-slider,
.app-h-mf-slider,
.app-h-media-slider,
.app-h-shop-slider {
    opacity: 0;
}

.app-h-mf-slider-wrapper,
.app-h-shop-slider-wrapper {
    @media (min-width: 768px) {
        margin: 0 -16px;
    }
}

.app-h-mf-slider.slick-slider {
    .slick-slide.app-h-mf-slider_slide {
        margin: 0 25px;
        @media (min-width: 768px) {
            margin: 0 16px;
        }
    }
    .slick-prev,
    .slick-next {
        top: 25%;
        z-index: 13;
        border-color: #9f9f9f !important;
    }
    .slick-prev {
        left: 1px;
        @media (min-width: 768px) {
            left: -9px;
        }
    }
    .slick-next {
        right: 1px;
        @media (min-width: 768px) {
            right: -9px;
        }
    }
    .slick-dots button:before {
        background-color: #4dbeba;
        opacity: 0.3;
    }
    .slick-dots .slick-active button:before {
        background-color: #4dbeba;
        opacity: 0.6;
    }
    .slick-dots {
        bottom: 52px;
    }
}

.app-h-shop-slider.slick-slider {
    padding: 10px 0;
    .slick-slide.app-h-shop-slider_slide {
        margin: 0 25px;
        @media (min-width: 768px) {
            margin: 0 16px;
        }
    }
    .slick-prev,
    .slick-next {
        z-index: 13;
        top: 47%;
        transform: translateY(-50%) rotate(45deg);
    }
    .slick-prev {
        transform: translateY(-50%) rotate(45deg);
        left: 1px;
        @media (min-width: 768px) {
            left: -9px;
        }
    }
    .slick-next {
        transform: translateY(-50%) rotate(-135deg);
        right: 1px;
        @media (min-width: 768px) {
            right: -9px;
        }
    }
    .slick-dots button:before {
        background-color: #4dbeba;
        opacity: 0.3;
    }
    .slick-dots .slick-active button:before {
        background-color: #4dbeba;
        opacity: 0.6;
    }
    .slick-dots {
        bottom: 24px;
    }
}

.app-h-shop-slider.slick-slider .slick-track {
    padding: 5px 0 20px;
}

.app-h-media-slider.slick-slider {
    // width: 80%;
    // @media (min-width: 768px) {
    // width: 100%;
    //     max-width: 100%;
    // }
    padding: 0 10px;
    .slick-prev,
    .slick-next {
        width: 13px;
        height: 13px;
        z-index: 13;
    }
    .slick-prev {
        transform: translateY(-50%) rotate(45deg);
        left: 0;
    }
    .slick-next {
        transform: translateY(-50%) rotate(-135deg);
        right: 0;
    }
    .slick-track {
        display: flex;
        align-items: center;
        @media (min-width: 768px) {
            transform: translate3d(0, 0, 0) !important;
            justify-content: center;
            width: 100% !important;
        }
    }
    .slick-slide {
        margin: 0 10px;
        // @media (min-width: 768px) {
        //     margin: 0 10px;
        // }
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        // width: 70%;
    }
}

.app-h-product-slider {
    opacity: 0;
    margin: 0 -15px;
    padding-left: 10px;
    @media (min-width: 500px) {
        margin: 0;
        padding-left: 0;
    }
    .slick-list {
        padding: 0 7% 0 0;
        @media (min-width: 500px) {
            padding: 0;
        }
    }
    .slick-track {
        display: flex;
    }
    .app-h-product-card {
        float: none;
        height: auto;
        display: flex;
        margin: 5px;
        @media (min-width: 500px) {
            margin: 5px 8px;
        }
    }
}
